beautifulsoup4
chardet
DAWG-Python
docopt
Flask
itsdangerous
Jinja2
MarkupSafe
numpy
oauthlib
Pillow
pymorphy2
pymorphy2-dicts
requests
requests-oauthlib
six==1.10.0
tweepy
Werkzeug
wordcloud
