<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Простой онлайн инструмент для создания облаков тегов на русском языке">
    <meta name="keywords" content="теги облако тегов онлайн инструмент создать на русском">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>TagClouds - Простой онлайн инструмент для создания облаков тегов на русском языке</title>
    <style>
   body {
    align="center";
    max-width:700px;
    height:750px;
    margin:0 auto;
   }
   #pagewrap {
    align="center";
    text-align:left;
    font-family: 'Arial', serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
   }
   h1 {
    font-size: 200%;
   }
   p {
    font-size: 100%;
   }
    img{
    max-width: 100%;
    max-height: 80%;
    }
  </style>
</head>
<body>
<div >
<h1><a href="/">TagClouds</a><br>
    Создание облаков тегов онлайн</h1>
<hr>
{% block content %}{% endblock %}
<hr>

<script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
<div class="ya-share2" style="float:left;" data-services="vkontakte,facebook,odnoklassniki,twitter,linkedin" data-url="www.tagclouds.ru" data-title="TagClouds - Простой онлайн инструмент для создания облаков тегов на русском языке www.tagclouds.ru" data-description="TagClouds - Простой онлайн инструмент для создания облаков тегов на русском языке" data-description:Linkedin="www.tagclouds.ru"></div>
<div style="display:inline-block;float:right;font-size:80%;color:gray;vertical-align:middle"><a href="http://pyatakov.com" style="color:gray" target="_blank">Блог автора</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:admin@tagclouds.ru" style="color:gray">Email для связи</a></div>
<br>
</div>
<br>
<div></div>
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36904460 = new Ya.Metrika({ id:36904460, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/36904460" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>